[user]
    name = vec2pt
    email = 68401718+vec2pt@users.noreply.github.com
[alias]
    co = checkout
    st = status -sb
    br = branch
    ci = commit
    aa = add --all
    graph = log --graph --pretty=format:'%C(auto)%h -%d %s, %C(blue)%cd%C(reset), %C(bold green)%an%C(reset)' --decorate --date=format:'%Y-%M-%d %H:%M:%S' --abbrev-commit
    web = instaweb -l --httpd=webrick
    webs = instaweb -l --httpd=webrick --stop
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    pager = true
[credential]
    helper = store
[help]
    autocorrect = prompt
# [push]
#     default = simple
[pull]
    rebase = false
[init]
    defaultBranch = main
[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
	pager = nvim -R

