[alias]
    co = checkout
    st = status -sb
    br = branch
    ci = commit
    aa = add --all

    lg = log --graph --pretty=format:'%C(auto)%h -%d %s, %C(black)%cd%C(reset), %C(bold green)%an%C(reset)' --decorate --date=format:'%Y-%M-%d %H:%M%S' --abbrev-commit

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    pager = true
[core]
    excludesfile = ~/.gitignore_global
    pager = less -FX
    editor = code --wait
[credential]
    helper = cache --timeout=3600
[help]
	autocorrect = prompt
# [push]
#     default = simple
# [branch "master"]
#     mergeoptions = --no-edit
[pull]
    rebase = false
[init]
    defaultBranch = main
