# Funcions

function cleanup() {
    echo "Remove unnecessary packages & Clean up apt cache"
    sudo apt autoremove --purge && sudo apt clean
    if dpkg -s flatpak &>/dev/null; then
        echo "Clean up Flatpak"
        flatpak uninstall --unused
    fi
    if dpkg -s snapd &>/dev/null; then
        echo "Clean up Snap"
        sudo apt autoremove --purge snapd
    fi
    echo "Clean up System Logs"
    sudo journalctl --vacuum-time=3d
    echo "Clean up .cache"
    find ~/.cache -depth -type f -mtime +365 -delete
    # echo "Clean up .thumbs"
    # rm -rf ~/.thumbs/*
    echo "Clean up temporary files from /tmp"
    rm -rf /tmp/*
    echo "Clear Trash folder"
    rm -rf ~/.local/share/Trash/files/*
}

# https://ostechnix.com/a-bash-function-to-extract-file-archives-of-various-types/
function extract() {
    if [ -f $1 ] ; then
        case $1 in
            *.tar.bz2)   tar xjf $1     ;;
            *.tar.gz)    tar xzf $1     ;;
            *.bz2)       bunzip2 $1     ;;
            *.rar)       rar x $1       ;;
            *.gz)        gunzip $1      ;;
            *.tar)       tar xf $1      ;;
            *.tbz2)      tar xjf $1     ;;
            *.tgz)       tar xzf $1     ;;
            *.zip)       unzip $1       ;;
            *.Z)         uncompress $1  ;;
            *.7z)        7z x $1    ;;
            *)           echo "'$1' cannot be extracted via extract()" ;;
        esac
    else
        echo "'$1' is not a valid file"
    fi
}

function colortest() {
    #   This file echoes a bunch of color codes to the
    #   terminal to demonstrate what's available.  Each
    #   line is the color code of one forground color,
    #   out of 17 (default + 16 escapes), followed by a
    #   test use of that color on all nine background
    #   colors (default + 8 escapes).
    #
    #   Copied from http://tldp.org/HOWTO/Bash-Prompt-HOWTO/x329.html

    T='gYw'   # The test text

    echo -e "\n                 40m     41m     42m     43m\
        44m     45m     46m     47m";

    for FGs in '    m' '   1m' '  30m' '1;30m' '  31m' '1;31m' '  32m' \
            '1;32m' '  33m' '1;33m' '  34m' '1;34m' '  35m' '1;35m' \
            '  36m' '1;36m' '  37m' '1;37m';
    do FG=${FGs// /}
    echo -en " $FGs \033[$FG  $T  "
    for BG in 40m 41m 42m 43m 44m 45m 46m 47m;
        do echo -en "$EINS \033[$FG\033[$BG  $T  \033[0m";
    done
    echo;
    done
    echo
}

function reload() {
    if [ -n "$BASH_VERSION" ]; then
        # Reload bash settings
        # include .bashrc if it exists
        if [ -f "$HOME/.bashrc" ]; then
        . "$HOME/.bashrc"
        fi
    elif [ -n "$ZSH_VERSION" ]; then
        # Reload zsh settings
        # include .zshrc if it exists
        if [ -f "$ZDOTDIR/.zshrc" ]; then
        . "$ZDOTDIR/.zshrc"
        fi
    fi
}

# TODO
# function update() {
#     nvm install --lts
#     rustup update
#     sudo apt-get update && sudo apt-get upgrade
# }

###############################################################################

# Aliases
# More inspirations
# https://www.cyberciti.biz/tips/bash-aliases-mac-centos-linux-unix.html
# https://drasite.com/blog/Pimp%20my%20terminal#patched-fonts

# ls aliases
# alias ls='ls --group-directories-first'
alias ll='ls -AlFh --group-directories-first'
alias lls='ls -AlFh --sort=size'
alias llt='ls -AlFh --sort=time'
alias la='ls -A --group-directories-first'
alias l='ls -CF --group-directories-first'
command -v tree > /dev/null && alias tree='tree --filesfirst -C'


# Aliases
alias mv='mv -iv'
alias rm='rm -i --preserve-root'
alias cp='cp -iv'
alias ln='ln -iv'
alias mkdir='mkdir -v'
alias rmdir='rmdir -v'
# alias rcp='rsync -v --progress'
# alias rmv='rsync -v --progress --remove-source-files'
alias chgrp='chgrp -c --preserve-root'
alias chmod='chmod -c --preserve-root'
alias chown='chown -c --preserve-root'
alias df='df -hT'
alias du='du -ch'
alias mount='mount |column -t'
# alias bc='bc -l' # calculator
alias diffside='diff --side-by-side'
alias count='find . -type f | wc -l'

command -v ncdu > /dev/null && alias ncdu='ncdu --color dark'

# cd aliases
alias cd..='cd ..'
alias cd~='cd ~'
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'

# Command short cuts
alias c='clear'
alias h='history'
alias j='jobs -l'
alias q='exit'

# systemctl aliases
alias reboot='systemctl reboot'
alias poweroff='systemctl poweroff'

# Other
alias myip='curl ipinfo.io/ip; echo'
alias weather='curl wttr.in/Warsaw; echo'
alias nowtime='date +"%T"'
alias nowday='date +%A'
alias nowweek='date +%V'
alias nowdate='date +"%Y%m%d"'
alias unixtime='date +%s'

# Python
alias python="python3"
alias activate='source .venv/bin/activate'
alias newvenv='python3 -m venv .venv && source .venv/bin/activate && [ ! -f requirements.txt ] || pip install -r requirements.txt && [ ! -f pyproject.toml ] || pip install -e .'


# Network aliases (TODO)
# alias n="netstat -np tcp"
# alias mtr="mtr -t"
# alias nmap="nmap -v -v -T5"
# alias nmapp="nmap -P0 -A --osscan_limit"
# alias pktstat="sudo pktstat -tBFT"

# Quickly serve the current directory as HTTP
alias serve='xdg-open http://0.0.0.0:8000/ && ruby -run -e httpd . -p 8000'
alias servepy='xdg-open http://0.0.0.0:8000/ && python3 -m http.server'


# Replace commands
# command -v htop > /dev/null && alias top='htop'
# command -v colordiff > /dev/null && alias diff='colordiff'
# command -v exa > /dev/null && alias exa='exa --group-directories-first'
# command -v exa > /dev/null && alias ls='exa'
# command -v exa > /dev/null && alias ll='exa -lah'
# command -v exa > /dev/null && alias la='exa -a'
# command -v exa > /dev/null && alias tree='exa -T'
command -v batcat > /dev/null && alias bat='batcat'
# command -v batcat > /dev/null && alias bat='batcat --theme=ansi-dark'
# command -v batcat > /dev/null && alias cat='batcat --pager=never'
command -v fdfind > /dev/null && alias fd='fdfind'

# Git
alias g="git"
alias gco="git checkout"
alias gst="git status -sb"
alias gbr="git branch"
alias gci="git commit"
alias gaa="git add --all"
alias glg="git log --graph --pretty=format:'%C(auto)%h -%d %s, %C(black)%cd%C(reset), %C(bold green)%an%C(reset)' --decorate --date=format:'%Y-%M-%d %H:%M%S' --abbrev-commit"

alias gitweb="git instaweb -l --httpd=webrick"
alias gitwebs="git instaweb -l --httpd=webrick --stop"


###############################################################################

# Personal Utilities
alias passgen='python3 ~/Documents/GitHub/cli-utilities/passgen.py'
alias backuptousb='bash ~/Documents/GitHub/cli-utilities/backuptousb.sh'
